{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block javascripts %}
    {{ vite_entry_script_tags('admin', { dependency: "react" }) }}
{% endblock %}


{% block body %}
    <div>
        <div id="root"></div>
    </div>
{% endblock %}
